.startPage {
  display: block;
  margin: 0;
  text-align: center;
  font-size: large;
}

.button {
  background-color: darkblue;
  color: aliceblue;
}

.button:hover {
  background-color: blue;
}

.showButton {
  display: block;
  text-align: center;
}

.startQuiz {
  display: none;
  margin: 0;
  text-align: center;
  font-size: large;
}

#correctAnswer {
  display: none;
  color: green;
}
#wrongAnswer {
  display: none;
  color: red;
}

.results {
  display: none;
  text-align: center;
}

.highScore {
  display: none;
  text-align: center;
}
